p, span{
  font-family: Arial, Helvetica, sans-serif;
}

.site-body{
  margin-top: 70px;
}

.node {
  cursor: move;
  fill: #00cc00;
  stroke: #666699;
  stroke-width: 0.5px;
}

.link {
	fill: #660000;
  stroke: #666699;
  stroke-opacity: 0.5;
  stroke-width: 1px
}

.visual-box{
  outline: #000000;
  outline-width: 10px;
}

.column {
  float: left;
  width: 10%;
  padding: 10px;
  border-style: solid;
  margin-right: 100px;
}

#legend1 {
  color: rgb(179, 14, 14);
}
